.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 100%;
  color: #252525;
}

.carousel-item-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
}